<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room - Storge</title>
    <link rel="stylesheet" type='text/css' href="/css/room.css">
</head>
<body>
    <div class="container">
        <h1>Room of Storge</h1>
        <div class="speaker">
            <div class="speaker-grid">
                
            </div>
        </div>
        <div class="listeners">
            <div class="listeners-grid">

            </div>
        </div>
        <audio id='audio' autoplay controls></audio>

        <nav>
            <div class='button'>
                <a class='leave-button' href="/">Leave room</a>
            </div>
            <div class="button micButton">
                <span>Mute</span>
            </div>
        </nav>

    </div>
    
    <script async src='../public/script.js'></script>
    

    
</body>
</html>